<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'Styles/BlueChat.css') }}">

<body>
    <head>
        <meta charset="UTF-8">
        <title>Blue ChatBot</title>
    </head>
    <body>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img id="bot-icon" src="../../static/Styles/images/icons/m.jpeg" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Blue ChatBot</h4>
                        <p class="chatbox__description--header">Hi. I am BlueChatBot! How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer  send__button" id="send-button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="../../static/Styles/images/icons/chatbox-icon.svg" /></button>
            </div>
        </div>
    </div>
</body>
</html>
<script src = "{{ url_for('static', filename= 'Styles/interpreter.js') }}"></script>